name: Compile
run-name: Compile

on:
  push:
    paths: ['project.bat', 'src/**']
  workflow_dispatch: 

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: MSVC
      run: ./project build-msvc
