name: Compile
run-name: Compile

on:
  push:
    paths: ['src/**', 'project.bat', '.github/workflows/compile.yml']
  workflow_dispatch:

jobs:
  msvc:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: amd64
    - name: Compile
      run: ./project build-msvc
  tcc:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install TCC
      shell: powershell
      run: |
        Invoke-WebRequest -Uri https://download.savannah.gnu.org/releases/tinycc/tcc-0.9.27-win64-bin.zip `
        -OutFile tcc.zip
        Expand-Archive -Path tcc.zip -DestinationPath .
        echo $PWD\tcc | Out-File -FilePath $env:GITHUB_PATH -Append
    - name: Compile
      shell: cmd
      run: project.bat build-tcc
