name: Compile
run-name: Compile

on:
  push:
    paths: ['project.bat', 'src/**']
  workflow_dispatch: 

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: amd64
    - name: MSVC
      run: ./project build-msvc
